.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-brand .logo{
  width: 60px;
}

.App-link {
  color: #61dafb;
}

li {
  list-style-type: none;
}

h1 {
  margin-top: 3%;
  text-align: center;
}

li img {
  width: 300px;
  border-radius: 50px;
  padding: 3%;
}

.gallery-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3%;

}

.articles-section{
  padding: 15px;
}
.articles-section li {
  background-color: #e7e7e7;
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
}

.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5%;
  background-color: #e8e5e5;
  padding: 2%;
  border-radius: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.form-section div {
  margin: 2%
}

.form-section input {
  border-radius: 30px;
  width: 400px;
}

.form-section Button {
  border-radius: 20px;
}

.textArea{
  height: 200px;
}

.searchInput {
  margin-top: 5%;
    width: 200px;
    margin-left: 5%;
    border-radius: 50px;
    padding: 10px;
}

.detail-article-section {
  margin-top:10%;
  text-align: center;
  width: 95%;
}
.detail-article-section Button{
  margin-left: 3%;
  margin-top: 2%;
}

.comments-section {
  background-color: grey;
  width: 100%;  
  height: 300px;
  overscroll-behavior: unset;
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
